body {
  background-image: url(./img/brown-bg.jpg);
}

.header {
  color: white;
  text-align: center;
  margin: 0px 250px 0px 250px;
  box-shadow: 2px 2px 2px 2px orange;
  background-color: black;
  padding: 1px;
  border-radius: 20px;
}

.header-span {
  color: orange;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.general {
  margin-top: 10px;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-bottom: 30px;
}

.mykel-container {
  border: 1px solid none;
  border-radius: 10px;
  background-color: orange;
  height: 300px;
  width: 290px;
  margin: 20px;
  box-shadow: 5px 3px 5px 5px rgb(63, 61, 61);
  padding: 10px;
}

.mykel-container h2 {
  text-align: center;
  background-color: darkgreen;
  color: white;
  border-radius: 20px;
}

.social {
  text-align: center;
}

.oscar-container {
  background-color: aquamarine;
  height: 300px;
  width: 290px;
  margin: 20px;
  padding: 10px;
  box-shadow: rgba(63, 61, 61, 60) 0px 5px 15px;
}

.oscar-container > h2 {
  text-align: center;
  background-color: darkblue;
  color: white;
  border: 1px white groove;
  border-radius: 20px;
}

.social-oscar {
  text-align: center;
}

.daniel-container {
  background-color: rgb(130, 157, 216);
  height: 300px;
  width: 290px;
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 1px 20px 5px rgb(6, 66, 151);
  border-radius: 15px;
}

.daniel-container > h2 {
  text-align: center;
  background-color: rgb(139, 79, 0);
  color: white;
  border: 1px white groove;
  border-radius: 20px;
}

.daniel-container ul {
  list-style: "↓  ";
}

.social-daniel {
  text-align: center;
}

/* Eru's CSS */
.eru-section {
  list-style-position: inside;
  background-color: palevioletred;
  color: white;
  border-radius: 4px;
  padding: 10px;
  line-height: 27px;
}

.eru-container {
  background-color: white;
  border: 2px solid palevioletred;
  border-radius: 12px;
  color: palevioletred;
  height: 300px;
  width: 290px;
  margin: 20px;
  padding: 10px;
  box-shadow: rgba(63, 61, 61, 60) 0px 5px 15px;
  line-height: 1px;
}

.eru-container > h2 {
  text-align: center;
}

.socials {
  text-align: center;
  line-height: none;
}
/* ogechi juliet uhegbu CSS */
.ogechi_container {
  background-color: chartreuse;
  /* height: 300px; */
  width: 290px;
  margin: 20px;
  padding: 10px;
  color: black;
  box-shadow: 2px 1px 20px 5px grey;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.5;
}

.ogechi_container > h2 {
  text-align: center;
  background-color: rgb(55, 103, 7);
  color: white;
  border: none;
  box-shadow: 2px 1px 20px 5px grey;
  border-radius: 50px;
}

.ogechi_container ul {
  list-style: circle;
}

.social_ogechi {
  text-align: center;
}
.social_ogechi a {
  text-decoration: none;
  word-spacing: 20px;
}

.victoria-container {
  background-color: rgb(249, 208, 230);
  height: 350px;
  width: 290px;
  margin: 20px;
  padding: 10px;
  box-shadow: 2px 1px 20px 5px rgb(2, 14, 32);
  border-radius: 15px;
}

.victoria-container > h2 {
  text-align: center;
  background-color: rgb(90, 41, 239);
  color: white;
  border: 1px white groove;
  border-radius: 20px;
}

.victoria-container ul {
  list-style: armenian;
}

.social-victoria {
  text-align: center;
}
